.range.range-simple {
  position: relative;
  width: 200px;
  height: 20px;
  background-color: #444;
}

.range.range-simple .range-pointer {
  position: absolute;
  left: 50px;
  z-index: 2;
  width: 10px;
  height: 20px;
  margin-left: -5px;
  background-color: red;
}

.range.range-simple .range-pointer .range-tip {
  position: absolute;
  top: -22px;
  left: 0;
  width: 30px;
  height: 20px;
  margin-left: -11px;
  color: #fff;
  text-align: center;
  background-color: blue;
  border: 1px solid #000;
  -webkit-transition: opacity 0.3s ease-in-out 0s;
     -moz-transition: opacity 0.3s ease-in-out 0s;
          transition: opacity 0.3s ease-in-out 0s;
}

.range.range-simple .range-view {
  position: absolute;
  z-index: 1;
  height: 20px;
  background-color: yellow;
}

.range.range-simple .range-scale {
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 100%;
  height: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.range.range-simple .range-scale li {
  position: absolute;
  top: 0;
  width: 30px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-left: -15px;
  text-align: center;
}