.range.range-simple {
  position: relative;
  width: 200px;
  height: 20px;
  background-color: #444;
}

.range.range-simple .range-pointer {
  position: absolute;
  left: 50px;
  width: 10px;
  height: 20px;
  margin-left: -5px;
  background-color: red;
}